body {
    background-color: #f9f9f9;
}

div:focus{
    outline:none;
}

span:focus{
    outline:none;
}

button:focus {
    outline: none;
}

a {
    text-decoration: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    -webkit-transition: color .3s;
    transition: color .3s;
}

a:hover {
    text-decoration: none;
    color: #ec7259;
}

._3kbg6I {
    margin-top: 70px;
    background-color: #f9f9f9;
}

._3VRLsv {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: calc(100vh - 66px);
    padding-top: 10px;
    font-size: 16px;
}

._3VRLsv {
    box-sizing: content-box;
    width: 1018px;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
}

._gp-ck {
    flex-shrink: 0;
    width: 730px;
    margin-bottom: 24px;
    margin-right: 10px;
}

.ouvJEz {
    padding: 24px;
}

._1RuRku {
    font-size: 30px;
    font-weight: 700;
    word-break: break-word;
}

.rEsl9f {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px;
    font-size: 13px;
    position: relative;
}

._2mYfmT {
    display: flex;
    align-items: center;
}

._1OhGeD, ._1OhGeD:active, ._1OhGeD:hover {
    color: inherit;
}

._3U4Smb {
    display: flex;
    align-items: center;
    margin-bottom: 6px;
}

.FxYr8x {
    font-size: 16px;
    font-weight: 500;
    margin-right: 8px;
}

._34692- {
    font-size: 12px;
    padding: 0 5px;
}

._3Mi9q9, ._3Mi9q9[disabled]:hover {
    color: #ec7259;
    background-color: #fff;
    border-color: #ec7259;
}

button, select {
    text-transform: none;
}

button, input {
    overflow: visible;
}

button, input, optgroup, select, textarea {
    margin: 0;
    color: inherit;
    font-size: inherit;
    font-family: inherit;
    line-height: inherit;
}

/*文章*/
._2rhmJa {
    font-weight: 400;
    line-height: 1.8;
    margin-bottom: 20px;
    margin-top: -32px;
}

._2rhmJa p {
    margin-bottom: 20px;
    word-break: break-word;
}

/*标签*/
.hot-tag {
    display: inline-block;
    height: 26px;
    line-height: 20px;
    padding: 2px 5px;
    background-color: #99cfff;
    font-size: 12px;
    color: #fff;
    border-radius: 4px;
    margin-right: 10px;
}

.hot-tag:hover {
    background-color: #339dff;
    color: #fff;
}

.hot-tag:visited {
    text-decoration: none;
}

/*按钮组*/
._3BUZPB:not(:last-child) {
    margin-right: 12px;
}

._1kCBjS, ._3BUZPB, ._18vaTa {
    display: flex;
    align-items: center;
}

._1kCBjS {
    justify-content: space-between;
    font-size: 14px;
    color: #969696;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

._2Bo4Th {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    color: #969696;
    border: 1px solid #eee;
    border-radius: 50%;
    font-size: 18px;
    cursor: pointer;
}

._3BUZPB>span {
    margin-left: 8px;
}

._1LOh_5 {
    cursor: pointer;
}

/*评论*/
.ouvJEz {
    padding: 24px;
}

._26JdYM {
    display: flex;
    height: 72px;
}

._3LHFA- {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #eee;
    margin-right: 10px;
}

img {
    vertical-align: middle;
    border-style: none;
}

._26JdYM ._3GKFE3 {
    margin-top: 0;
    margin-bottom: 48px;
}

._3GKFE3 {
    flex-grow: 1;
    margin-top: 16px;
}

.collapseInput {
    margin-bottom: 48px;
    flex-grow: 1;
    margin-top: 8px;
}

._1u_H4i {
    padding: 12px 16px;
    width: 100%;
    height: 45px;
    font-size: 13px;
    border: 1px solid #eee;
    border-radius: 4px;
    background-color: #fafafa;
    resize: none;
    display: inline-block;
    vertical-align: top;
    outline-style: none;
}

textarea {
    overflow: auto;
    resize: vertical;
}

._3IXP9Q {
    justify-content: space-between;
    margin-top: 7px;
    font-size: 14px;
    color: #969696;
}

._3Tp4of {
    flex-shrink: 0;
    display: flex;
    align-items: center;
}

._3Mi9q9._1YbC5u, ._3Mi9q9._1YbC5u[disabled]:hover {
    color: #fff;
    background-color: #ec7259;
    border-color: #ec7259;
}

.follow-btn {
    margin: 0 0 0 auto;
    padding: 0;
    width: 55px;
    height: 26px;
    font-size: 13px;
    border: 1px solid #6cbd45;
    color: #6cbd45;
    background-color: #fff;
}

.followed {
    color: #fff;
    border-color: #6cbd45;
    background-color: #6cbd45;
}

._1OyPqC+._1OyPqC, ._1OyPqC>.anticon+span, ._1OyPqC>span+.anticon {
    margin-left: 8px;
}

._2nzlC_, ._2nzlC_[disabled]:hover {
    color: #999;
    background-color: #fff;
    border-color: #999;
}

._1OyPqC {
    position: relative;
    flex-shrink: 0;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    white-space: nowrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: all .2s cubic-bezier(.645,.045,.355,1);
    font-size: 14px;
    padding: 4px 12px;
    color: #969696;
    background-color: #fff;
    border: 1px solid #999;
}

._19DgIp {
    width: 100%;
    height: 1px;
    margin: 16px 0;
    background-color: #eee;
}

.QxT4hD {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
    padding-left: 12px;
    border-left: 4px solid #ec7259;
    font-size: 18px;
    font-weight: 500;
    height: 20px;
    line-height: 20px;
}

._10KzV0 ._2R7vBo {
    margin-left: 6px;
    font-size: 14px;
    font-weight: normal;
}

._2gPNSa {
    margin-top: 20px;
    margin-bottom: 20px;
}

._2IUqvs {
    display: flex;
    align-items: flex-start;
}

._1OhGeD, ._1OhGeD:active, ._1OhGeD:hover {
    color: inherit;
}

._1_jhXc {
    width: 40px;
    height: 40px;
    border: 1px solid #eee;
    border-radius: 50%;
    overflow: hidden;
}

._2IUqvs:last-child ._1K9gkf {
    margin-bottom: 0;
    padding-bottom: 0;
    border: none;
}

._1K9gkf {
    flex-grow: 1;
    margin-left: 10px;
    margin-bottom: 20px;
    padding-bottom: 16px;
    border-bottom: 1px solid #eee;
}

._23G05g {
    display: flex;
    align-items: center;
    font-size: 15px;
    font-weight: 500;
}

._1xqkrI {
    margin-top: 2px;
    font-size: 12px;
    color: #969696;
}

._2bDGm4 {
    margin-top: 10px;
    font-size: 16px;
    line-height: 1.5;
    word-break: break-word;
}

._2ti5br {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 8px;
    font-size: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

._1vPqGj, ._3MyyYc {
    display: block;
}

._1Jvkh4 {
    cursor: pointer;
    margin-right: 16px;
    color: #b0b0b0;
}

._1Jvkh4:last-of-type {
    margin-right: 0;
}

._1Jvkh4 {
    cursor: pointer;
    margin-right: 25px;
    color: #b0b0b0;
}

/**/
.s-dsoj {
    display: flex;
    color: #969696;
}

.s-dsoj>:not(:last-child) {
    margin-right: 10px;
}

._1NDgW7 {
    color: #969696;
    flex-shrink: 0;
}

._1OhGeD, ._1OhGeD:active, ._1OhGeD:hover {
    color: inherit;
}

._3tCVn5 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #ec7259;
}

.ouvJEz, ._3Z3nHf {
     background-color: #fff;
     border-radius: 4px;
     margin-bottom: 10px;
 }

.sFiE8U {
    margin-bottom: 10px;
    font-size: 0;
}

/*侧栏*/
._2OwGUo {
    flex-shrink: 0;
    width: 310px;
}
    /*作者简介+其他文章*/
._3Oo-T1 {
    display: flex;
    align-items: center;
}

._1OhGeD, ._1OhGeD:active, ._1OhGeD:hover {
    color: inherit;
}

._2O0T_w, ._32ZTTG {
    display: flex;
    justify-content: space-between;
}
._32ZTTG {
    flex-direction: column;
    flex-grow: 1;
    overflow: hidden;
    min-height: 45px;
    margin-left: 8px;
}

._2O0T_w, ._2v-h3G {
    align-items: center;
}

._2O0T_w {
    margin-bottom: 4px;
}

._2O0T_w, ._32ZTTG {
    display: flex;
    justify-content: space-between;
}

._2v-h3G {
    display: flex;
    margin-right: 4px;
    overflow: hidden;
}
._2O0T_w, ._2v-h3G {
    align-items: center;
}

._2vh4fr {
    color: #2d2d2d;
    font-weight: 500;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

._26Hhi2 {
    margin-top: 16px;
}

._3TNGId {
    display: block;
    font-size: 14px;
    line-height: 22px;
    color: #2d2d2d;
    margin-bottom: 4px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.DfvGP9 {
    font-size: 12px;
    color: #969696;
}

    /*推荐阅读*/
._3Z3nHf {
    padding: 16px;
}

._3Z3nHf, .ouvJEz {
    background-color: #fff;
    border-radius: 4px;
    margin-bottom: 10px;
}

.QHRnq8 {
    font-size: 16px;
    padding-left: 6px;
    height: 18px;
}

.QxT4hD {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
    padding-left: 12px;
    border-left: 4px solid #ec7259;
    font-size: 18px;
    font-weight: 500;
    height: 20px;
    line-height: 20px;
}

.cuOxAY {
    margin-bottom: 12px;
}

._3L5YSq {
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 4px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

._19haGh {
    font-size: 12px;
    color: #969696;
}

/*返回顶部*/
._21bLU4 .ant-back-top {
    display: none;
    bottom: 96px;
}

.ant-back-top {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: rgba(0,0,0,.65);
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5;
    list-style: none;
    -webkit-font-feature-settings: "tnum","tnum";
    font-feature-settings: "tnum","tnum";
    position: fixed;
    right: 100px;
    bottom: 50px;
    z-index: 10;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

._3MyrRP {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: #8c8c8c;
    font-size: 18px;
    box-shadow: 0 1px 3px rgba(26,26,26,.1);
    background-color: #fff;
}

/*左侧按钮组*/
._1pUUKr .article-like {
    color:  #ec7259;
}

.comment-like {
    color: #ec7259;
}

._1pUUKr .article-favorite {
    color: #ec7259;
}

._1pUUKr .article-like-num {
    background-color: #ec7259;
}
/*关注*/
.ZccRSO, .ZccRSO[disabled]:hover {
    color: #ec7259;
    background-color: #ffebeb;
    border-color: #ffebeb;
}

._3Pnjry {
    position: fixed;
    top: 216px;
    left: 162px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

._1pUUKr, ._2VdqdF {
    display: flex;
    align-items: center;
}

.count-locate {
    top: -5px;
    right: -5px;
    position: absolute;
    color: white;
    background-color: #969696;
}

._1pUUKr {
    flex-direction: column;
    margin-bottom: 16px;
    cursor: pointer;
    color: #969696;
}

._2VdqdF {
    justify-content: center;
    width: 48px;
    height: 48px;
    font-size: 18px;
    border-radius: 50%;
    box-shadow: 0 2px 10px rgba(0,0,0,.05);
    background-color: #fff;
}

._1pUUKr, ._2VdqdF {
    display: flex;
    align-items: center;
    position: relative;
}

/*错误提示框*/
#article-alert {
    width: 190px;
    height: 50px;
    text-align: center;
    display: none;
    position: fixed;
    left: -332px;
    right: 0;
    bottom: 0;
    top: -470px;
    margin: auto;
}

/*二级评论*/
._3g0yKR {
    padding: 9px 0 9px;
    border-top: 1px solid #eee;
    background-color: #FAFBFC;
}

._3g0yKR ._3d_vFY {
    display: flex;
}

