<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.tit.forum.mapper.CommentExtMapper">
  <resultMap id="BaseResultMap" type="cn.edu.tit.forum.model.Comment">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="parent_id" jdbcType="BIGINT" property="parentId" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="resp_user_id" jdbcType="BIGINT" property="respUserId" />
    <result column="gmt_create" jdbcType="BIGINT" property="gmtCreate" />
    <result column="like_count" jdbcType="INTEGER" property="likeCount" />
    <result column="comment_count" jdbcType="INTEGER" property="commentCount" />
  </resultMap>
  <update id="incCommentCount" parameterType="cn.edu.tit.forum.model.Comment">
    update comment
    set comment_count = comment_count + #{commentCount,jdbcType=INTEGER}
    where id=#{id}
  </update>

  <update id="decLikeCount" parameterType="cn.edu.tit.forum.model.Comment">
    update comment
    set like_count = like_count - #{likeCount,jdbcType=INTEGER}
    where id=#{id}
  </update>

  <update id="incLikeCount" parameterType="cn.edu.tit.forum.model.Comment">
    update comment
    set like_count = like_count + #{likeCount,jdbcType=INTEGER}
    where id=#{id}
  </update>
</mapper>